.paper {
    margin: 1rem;
    text-align: left;
    padding: 1em;
    background-color: white;
    box-shadow: 0 0 0 2.5px rgb(68, 55, 55), 3px 3px 0 3px rgba(159, 158, 158, 0.644);
    border-bottom: #f5f2f2 solid 0.1px;
    border-radius: 10px;
}

.button {
    display: inline-block;
}

.button:hover {
    transform: scale(1.2);
}